/**
 * Defines the style of the status panels
 */

.jetrails_twofactor_status_pass,
.jetrails_twofactor_status_fail {
	width:          	100%;
	border:         	none;
	padding:        	5px 0px 5px 0px;
	cursor:         	default;
	color:          	#FFFFFF;
	background: 		#A2B644 !important;
}

.jetrails_twofactor_status_fail {
	background: 		#D92401 !important;
}