<?xml version="1.0"?>

<config>
	<modules>
		<JetRails_TwoFactor>
			<version>1.0.0</version>
		</JetRails_TwoFactor>
	</modules>
	<admin>
		<routers>
			<jetrails_twofactor>
				<use>admin</use>
				<args>
					<module>JetRails_TwoFactor</module>
					<frontName>jetrails_twofactor</frontName>
				</args>
			</jetrails_twofactor>
		</routers>
	</admin>
	<global>
		<blocks>
			<twofactor>
				<class>JetRails_TwoFactor_Block</class>
			</twofactor>
		</blocks>
		<helpers>
			<twofactor>
				<class>JetRails_TwoFactor_Helper</class>
			</twofactor>
		</helpers>
		<models>
			<twofactor>
				<class>JetRails_TwoFactor_Model</class>
				<resourceModel>twofactor_setup</resourceModel>
			</twofactor>
			<twofactor_setup>
				<entities>
					<twofactor>
						<table>admin_user</table>
					</twofactor>
				</entities>
			</twofactor_setup>
		</models>
		<resources>  
			<twofactor_setup>
				<setup>
					<module>JetRails_TwoFactor</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</twofactor_setup>
		</resources>
        <events>
            <controller_action_postdispatch_adminhtml>
                <observers>
                    <twofactor_redirect>
                        <class>twofactor/Adminhtml_Observer_TwoFactor</class>
                        <method>postAdminHtml</method>
                    </twofactor_redirect>
                </observers>
            </controller_action_postdispatch_adminhtml>
        </events>
	</global>
	<adminhtml>
		<events>
            <admin_session_user_login_success>
                <observers>
                    <twofactor_after_admin_login>
                        <type>singleton</type>
                        <class>twofactor/Adminhtml_Observer_TwoFactor</class>
                        <method>afterAdminAuthenticate</method>
                    </twofactor_after_admin_login>
                </observers>
            </admin_session_user_login_success>
		</events>
		<layout>
			<updates>
				<jetrails_twofactor>
					<file>TwoFactor.xml</file>
				</jetrails_twofactor>
			</updates>
		</layout>
	</adminhtml>
</config>