<?xml version="1.0" encoding="UTF-8" ?>

<config>
	<modules>
		<JetRails_TwoFactor>
			<version>1.1.0</version>
		</JetRails_TwoFactor>
	</modules>
	<admin>
		<routers>
			<jetrails_twofactor>
				<use>admin</use>
				<args>
					<module>JetRails_TwoFactor</module>
					<frontName>twofactor</frontName>
				</args>
			</jetrails_twofactor>
		</routers>
	</admin>
	<global>
		<blocks>
			<twofactor>
				<class>JetRails_TwoFactor_Block_Adminhtml</class>
			</twofactor>
		</blocks>
		<helpers>
			<twofactor>
				<class>JetRails_TwoFactor_Helper</class>
			</twofactor>
		</helpers>
		<models>
			<twofactor>
				<class>JetRails_TwoFactor_Model_Adminhtml</class>
				<resourceModel>twofactor_resource</resourceModel>
			</twofactor>
			<twofactor_resource>
				<class>JetRails_TwoFactor_Model_Adminhtml_Resource</class>
				<entities>
					<auth>
						<table>jetrails_twofactor_auth</table>
					</auth>
				</entities>
			</twofactor_resource>
		</models>
		<resources>
			<jetrails_twofactor_setup>
				<setup>
					<module>JetRails_TwoFactor</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</jetrails_twofactor_setup>
		</resources>
		<template>
			<email>
				<twofactor_user translate="label" model="twofactor" >
					<label>2FA Ban Notice (User)</label>
					<file>twofactor_user.html</file>
					<type>html</type>
				</twofactor_user>
				<twofactor_admin translate="label" model="twofactor" >
					<label>2FA Ban Notice (Admin)</label>
					<file>twofactor_admin.html</file>
					<type>html</type>
				</twofactor_admin>
			</email>
		</template>
	</global>
	<adminhtml>
		<events>
			<controller_action_predispatch>
				<observers>
					<twofactor_redirect>
						<type>singleton</type>
						<class>twofactor/observer</class>
						<method>preAdminHtml</method>
					</twofactor_redirect>
				</observers>
			</controller_action_predispatch>
		</events>
		<layout>
			<updates>
				<twofactor>
					<file>twofactor.xml</file>
				</twofactor>
			</updates>
		</layout>
		<translate>
			<modules>
				<JetRails_TwoFactor>
					<files>
						<default>JetRails_TwoFactor.csv</default>
					</files>
				</JetRails_TwoFactor>
			</modules>
		</translate>
	</adminhtml>
	<default>
		<twofactor>
			<general>
				<remember_me>7</remember_me>
				<ban_attempts>10</ban_attempts>
				<ban_time>10</ban_time>
			</general>
		</twofactor>
	</default>
</config>