<?xml version="1.0" encoding="UTF-8" ?>

<config>
	<modules>
		<JetRails_TwoFactor>
			<version>1.0.6</version>
		</JetRails_TwoFactor>
	</modules>
	<admin>
		<routers>
			<jetrails_twofactor>
				<use>admin</use>
				<args>
					<module>JetRails_TwoFactor</module>
					<frontName>twofactor</frontName>
				</args>
			</jetrails_twofactor>
		</routers>
	</admin>
	<global>
		<blocks>
			<twofactor>
				<class>JetRails_TwoFactor_Block</class>
			</twofactor>
		</blocks>
		<helpers>
			<twofactor>
				<class>JetRails_TwoFactor_Helper</class>
			</twofactor>
		</helpers>
		<models>
			<twofactor>
				<class>JetRails_TwoFactor_Model_Adminhtml</class>
				<resourceModel>twofactor_resource</resourceModel>
			</twofactor>
			<twofactor_resource>
				<class>JetRails_TwoFactor_Model_Adminhtml_Resource</class>
				<entities>
					<auth>
						<table>jetrails_twofactor_auth</table>
					</auth>
				</entities>
			</twofactor_resource>
		</models>
		<resources>
			<jetrails_twofactor_setup>
				<setup>
					<module>JetRails_TwoFactor</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</jetrails_twofactor_setup>
		</resources>
	</global>
	<adminhtml>
		<events>
			<controller_action_predispatch>
				<observers>
					<twofactor_redirect>
						<type>singleton</type>
						<class>twofactor/observer</class>
						<method>preAdminHtml</method>
					</twofactor_redirect>
				</observers>
			</controller_action_predispatch>
		</events>
		<layout>
			<updates>
				<twofactor>
					<file>twofactor.xml</file>
				</twofactor>
			</updates>
		</layout>
	</adminhtml>
</config>