<?xml version="1.0" ?>

<config>
	<tabs>
		<extensions translate="label" module="twofactor" >
			<label>JetRails®</label>
			<sort_order>0</sort_order>
		</extensions>
	</tabs>
	<sections>
		<jetrails_twofactor translate="label" module="twofactor" >
			<class>separator-top</class>
			<label>Two Factor Authentication</label>
			<tab>extensions</tab>
			<sort_order>152</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>0</show_in_website>
			<show_in_store>0</show_in_store>
			<groups>
				<configuration translate="label" >
					<label>Configuration</label>
					<frontend_type>text</frontend_type>
					<sort_order>2</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<expanded>1</expanded>
					<fields>
						<enabled translate="label comment" >
							<label><![CDATA[Status:]]></label>
							<frontend_type>button</frontend_type>
							<frontend_model>twofactor/Adminhtml_Status_Enabled</frontend_model>
							<sort_order>0</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</enabled>
						<config translate="label comment" >
							<label><![CDATA[Action Panel:]]></label>
							<frontend_type>text</frontend_type>
							<frontend_model>twofactor/Adminhtml_Panel_Configuration</frontend_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</config>
					</fields>
				</configuration>
			</groups>
		</jetrails_twofactor>
	</sections>
</config>