/**
 * These styles acts on magento elements
 */

select[id^="jetrails"] {
	-webkit-appearance:         none;
	-moz-appearance:            none;
	-ms-appearance: 			none;
    -o-appearance: 				none;
	appearance:                 none;
	width:                      100% !important;
	padding:                    6px;
	border:                     solid 1px #31302B;
	border-radius:              0px !important;
	background:                 none;
	font-family:                "Montserrat", sans-serif;
	cursor:                     pointer;
	background-repeat:          no-repeat;
	background-position:        calc( 100% - 7px ) 1em;
	background-size:            7px 7px, 7px 7px;
	background-image:           linear-gradient( 135deg, transparent 50%, #31302B 50% );
}

select[id^="jetrails"]:hover {
	background-color: 				rgba( 0, 0, 0, 0.05 );
}

input[id^="jetrails"] { 
	font-family:            "Montserrat", sans-serif;
	width:                  calc( 100% - 14px ) !important;
	background: 			none;
	border:					solid 1px #31302B;
	padding: 				6px;
}

textarea[id^="jetrails"] { 
	font-family:            "Montserrat", sans-serif;
	width:                  calc( 100% - 14px ) !important;
	background: 			none;
	border:					solid 1px #31302B;
	padding: 				6px;
}

label[for^="jetrails"] {
	font-family:            "Montserrat", sans-serif;
}

fieldset[id^="jetrails"] {
	font-family:            "Montserrat", sans-serif;	
}

.entry-edit-head.collapseable a[id^="jetrails"] {
	padding: 				10px !important;
}

/**
 * Universal classes, that will be seen throughout element types
 */

.jetrails-warning-red {
	color:                  #FF0000;
	font-weight:            bold;
}

/**
 * This style is for action buttons
 */

.jetrails-action-button {
	font-family:            "Montserrat", sans-serif;
	width:                  100%;
	border:                 none;
	padding:                7px;
	background:             #6F8992;
	color:                  #FFFFFF;
	font-size:              12px !important;
	font-weight:            normal !important;
}

.jetrails-action-button:hover,
.jetrails-action-button:active {
	background:             #5F7982;
}

/**
 * This style is for timestamp panels
 */

.jetrails-timestamp {
	font-family:            "Montserrat", sans-serif;
	width:                  100%;
	border:                 solid 1px #31302B;
	padding:                5px;
	cursor:                 default;
	background:             none;
	color:                  #31302B;
	font-size:              12px !important;
	font-weight:            normal !important;
}

.jetrails-timestamp:hover {
	background:             none;
}

/**
 * This style is for status panels
 */

.jetrails-status-pass,
.jetrails-status-fail {
	font-family:            "Montserrat", sans-serif;
	font-weight:            normal;
	width:                  100%;
	background:             none !important;
	border:                 solid 1px #31302B;
	padding:                5px;
	cursor:                 default;
	color:                  #31302B;
}

.jetrails-status-fail {
	background:             none !important;
	border:                 solid 1px #FF0000;
	color:                  #FF0000;
}

/**
 * This style is for a simple table only displays information
 */

.jetrails-static-table {
	font-family:            "Montserrat", sans-serif;
	width:                  100%;
	font-size:              12px;
	border:                 solid 1px #31302B;
	table-layout:           inherit;
}

.jetrails-static-table tr th {
	padding:                15px;
	background:             #31302B;
	font-weight:            normal;
	color:                  #FFFFFF;
	text-align:             center;
	white-space:            nowrap;
	font-size:              12px !important;
	min-width: 				150px !important;
}

.jetrails-static-table tr td {
	padding:                15px;
	font-weight:            normal;
	color:                  #31302B;
	text-align:             center;
	white-space:            nowrap;
	min-width: 				150px !important;
}

.jetrails-static-short-cell {
	padding:                5px 15px 5px 15px !important;
}

.jetrails-static-even-half-cell {
	width: 					50% !important;
}

.jetrails-static-empty td {
	background:             none !important;
	color:                  #31302B !important;
	text-align:             center !important;
}

/* This style is for a dynamic table who's content can be changed dynamically */

.jetrails-dynamic-table {
	font-family:            "Montserrat", sans-serif;
	width:                  100%;
	font-size:              12px;
	text-align: 			center;
	table-layout:           inherit;
}

.jetrails-dynamic-table tr td {
	font-weight:            normal;
	color:                  #31302B;
	white-space:            nowrap;
}

.jetrails-dynamic-content {
	max-width:				300px;
	text-align: 			left !important;
	overflow:				scroll;
	background: 			#E9E9E9;
}

.jetrails-dynamic-no-padding {
	padding: 				0px !important;
}

.jetrails-dynamic-clickable {
	cursor: 				pointer;
}

.jetrails-dynamic-selected {
	background: 			#E9E9E9 !important;
}